[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
coverage = "*"
django-random-id-model = "*"

[dev-packages]

[requires]
python_version = "3.11"
